<form #employeeForm="ngForm" (ngSubmit)="onSubmit(employeeForm)">
  <legend>Registration</legend>
  <input type="hidden" class="form-control" id="" name="$key" required #$key="ngModel" [(ngModel)]="employeeService.selectedEmployee.$key">
  <div class="form-group">
    <label for="">Name</label>
    <input type="text" class="form-control" id="" placeholder="Name" name="name" required #name="ngModel" [(ngModel)]="employeeService.selectedEmployee.name">
  </div>

  <div class="form-group">
    <label for="">Position</label>
    <input type="text" class="form-control" id="" placeholder="Position" name="position" #position="ngModel" [(ngModel)]="employeeService.selectedEmployee.position">
  </div>

  <div class="form-group">
    <label for="">Office</label>
    <input type="text" class="form-control" id="" placeholder="Office" name="office" #office="ngModel" [(ngModel)]="employeeService.selectedEmployee.office">
  </div>

  <div class="form-group">
    <label for="">Salary</label>
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-dollar "></i>
      </div>
      <input type="text" class="form-control" id="" placeholder="salary" name="salary" #salary="ngModel" [(ngModel)]="employeeService.selectedEmployee.salary">
    </div>
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-primary" [disabled]=!employeeForm.valid>
      <i class="fa fa-floppy-o"></i>
      Submit</button>
    <button type="button" class="btn btn-danger" (click)="resetForm(employeeForm)">
      <i class="fa fa-repeat"></i>
      Cancel</button>
  </div>

</form>
